@use "base";

html {
    box-sizing: border-box;
    font-size: 20px;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    padding:0;
    margin: 0;
}

body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: base.$light;
}

