@use "base";

.section {
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.dark {
    color: base.$light;
    background-color: base.$dark;
}

.introduction__heading, .heading, .heading__h3, .project__heading {
    margin: 1rem 0 0.5rem 0;
    
}

.introduction__image {
    width: 50%;
    border-radius: 30px;
}

.project {
    background-color: base.$light;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 2rem;
}

.project__image{
    width: 100%;
}

.project__heading, .project__description{
    color: base.$dark;
}

.project__link {
    display: inline-block;
    text-decoration: none;
    color: base.$complimentary-bright;
    padding: 0.2rem 0.8rem;
    border: 2px solid base.$complimentary-bright;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
