@use "base";

.section{
    padding: 5rem 2rem;
    width: 100%;
    background-color: base.$light;
}

.footer{
    padding: 1rem 2rem;
}

.smaller-font{
    font-size: 0.8rem;
}

.heading__h1, .heading__h2,.heading__intro {
  margin: 1rem 0;
    text-align: center;
    font-weight: 400;
    color: base.$dark;
}

.dark-color{
    background-color: base.$dark;
    color: base.$light;
}

.dark-color > .heading__h2{
    color: base.$light;
}
.heading__intro{
    font-size:1.2rem;
    font-weight: 700;
}


// INTRODUCTION
.introduction__image {
width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.introduction__socials{
    text-align: center;
}
.fa {
    padding: 0.5rem;
    margin: 0 1rem;
    font-size: 2rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    color: base.$dark;
 
  }

  //ABOUT ME
.about-me__image{
    width: 100%;
    display: block;
    margin: 1rem auto;
}

//EXPERIENCE

.experience__image{
   width: 100px;
  height: fit-content;
   
}
.experience__card{
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: base.$middle;
}

//SKILLS
.skills {
    text-align: center;
}
.skills > .fa-brands{
    margin: 0.5rem;
   font-size: 2rem;
}

.skills__heading{
    text-align: center;
    margin: 1rem;
}
.skills__link{
    color: base.$light;
}
//PROJECTS
.project {
position: relative;
width: 100%;
margin: 1rem 0;
}

.project__image{
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.5rem;
}

.project__info{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 0.5rem;
}

.project__heading, .project__description{
    color: base.$light;
}


.section ul {
    list-style-type: none;
}

//FOOTER 
.footer >.fa-brand{
    color: base.$light;

}
.footer__flexbox{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer a{
    color: base.$light;
    margin: 0 0.8rem;
}

