<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evzi Stara Portfolio</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header class="header">
        <nav class="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
        <label for="menu-checkbox" class="menu__toggler">☰</label>
        <div class="menu__list">
        <a class="menu__item" href="#intro">About me</a>
            <a class="menu__item" href="#projects">Projects</a>
            <a class="menu__item" href="#experience">Experience</a>
            <a class="menu__item" href="#contact">Contact</a>
        </div>
        </nav>
    </header>

    {{ content | safe }}
    
    <footer class="section dark" id="contact">
        <h2 class="heading">Contact</h2>
        <div class="flexbox">
        <a class="Contact__social" href="https://www.linkedin.com/in/evzenie-jitka-stara/">LinkedIn</a>
        <a class="Contact__social" href="https://github.com/evzistara">GitHub</a>
        <a class="contact__social" href="mailto:evzi.stara@gmail.com">E-mail</a>
    </div></footer>
</body>
</html>